<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment ="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo"> Ankit Parmar</a>
                    <p class="footer-text">
                        Passionate about solving complex problems through code and equally devoted to learning ,I bridge the worlds of software engineering and education to inspire innovation and growth.
                    </p>
                    <div class="footer-social">
                        <a href="tel:+91 9770338574" class="social-link">
                            <i class="fas fa-phone-alt"></i>
                        </a>

                        <a href="mailto:sendmailstoankit@gmail.com" class="social-link">
                            <i class="fas fa-envelope"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/ankit-parmar-29b931298" target="_blank"  class="social-link">
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a href="https://github.com/nameisankit" target="_blank" class="social-link">

                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading"> Quick Links</h3>
                    <div class="footer-links">
                        <a  href="#home" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Home
                        </a>
                        <a  href="#about" class="footer-link">
                            <i class="fas fa-chevron-right"></i> About
                        </a>
                        <a  href="#projects" class="footer-link">
                            <i class="fas fa-chevron-right"></i> My Work
                        </a>
                        <a  href="#achievements" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Achievements
                        </a>

                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading"> Quick Links</h3>
                    <div class="footer-links">
                        <a  href="https://t.me/Ankitparmar_07" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Telegram
                        </a>
                        <a  href="https://www.instagram.com/nameisankit_07" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Instagram
                        </a>
                        <a  href="https://x.com/nameisankit_07" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Twitter/X
                        </a>
                        <a  href="https://www.linkedin.com/in/ankit-parmar-29b931298" class="footer-link">
                            <i class="fas fa-chevron-right"></i> LinkedIn
                        </a>
                        <a  href="https://github.com/nameisankit" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Github
                        </a>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
               <p>&copy; 2025 Ankit Parmar. All rights reserved.</p>

            </div>
        </div>
    </footer>
</th:block>
</html>
