<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment ="site-header" >
    <header class="header" >
    <div class="container header-container">
        <div class="logo">A.<span>P.</span> </div>
        <nav class="nav" >
           <div class="nav-links">
            <a href="#about" class="nav-links">About</a>
               <a href="#projects" class="nav-links">Projects</a>
             <!--  <a href="#experience" class="nav-links">Experience</a> -->
               <a href="#achievements" class="nav-links">Achievements</a>
               <a href="#contact" class="nav-links">Contact</a>
           </div>
        </nav>
    </div>
    </header>
</th:block>
</html>